.title{
    background-color: orange;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    margin-bottom: 5rem;
}
.comp-target{
    background-color: rgb(11, 184, 51);
    display: flex;
    justify-content: center;
}
button{
    display: block;
    margin: 50px auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 5rem;
    width: 10rem;
    background-color: dodgerblue;
    border: 1px solid black;
}
button:hover {
    background-color: darkblue;
    color: yellow;
    cursor: pointer;
}
.player-scores{
    display: flex;
    font-size: 2rem;
    gap: 5rem;
    justify-content: center;
}
.score{
    font-size: 3rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.currentscore{
    background-color: tomato;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
}